body{
	background-color: #fff;
}
* li {
	list-style: none;

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.tabs__btn:active{
	font-weight: bold;
	background: #ddd;
}

.tabs{
	border: 1px solid #ccc;
	display: flex;
}

.tabs__sidebar{
/*	width: 125px;
	flex-shrink: 0;*/
	background: #ccc;
	display: flex;
}

.tabs__btn{
	display: block;
	padding: 10px;
	border: none;
	width: 100%;
	outline: none;
	pointer: cursor;
}
.tabs__btn:active{
	background: #ddd;
}
.tabs__btn:not(:last-of-type){
	border-bottom: 1px solid #ccc;
}
.tabs__btn--active{
	font-weight: bold;
	border-bottom: 1px solid green;
	background: #ddd;
}
/*.tabs_content{
	padding: 15px;
	font-size: 0,8rem;
	display: none;
}
.tabs_content--active{
	display: block;
}
*/